/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/* common style  */
body {
    font-family: "Montserrat", sans-serif;
}

.f-cedarville{
    font-family: "Cedarville Cursive", cursive;
}


/* .header {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 999;
} */



/*********************hero style*******************/

.hero {
    background-image: url('../assets/banner-section.jpg');
    width: 100%;
    height: 1160px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px 0px;
}
.hero::after {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: #2c2c2c;
    opacity: .5;
}



.logo {
	max-width: 150px;
	max-height: 110px;
	margin: 0 auto;
	position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 10px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.hero .hero_inner {
    position: relative;
    max-width: 1114px;
    margin-inline: auto;
    text-align: center;
    z-index: 999;
}

.hero .hero_inner h2 {
    font-size: 90px;
    font-weight: 700;
    color: white;
    line-height: 108px;
    margin-bottom: 40px;
}

.hero .hero_inner h2 span {
    color: #eed289;
}


.hero .hero_inner p {
	font-size: 22px;
	color: white;
	font-weight: normal;
	text-shadow: 0 0 0 transparent;
	line-height: 1.3em;
	padding-top: 20px;
	margin: 0;
}


.hero .hero_inner h4 {
	font-family: "Cedarville Cursive", cursive;
	font-size: 57px;
	color: white;
	font-weight: 500;
	line-height: 1.3em;
	padding: 40px 0px 20px;
	text-shadow: 0 0 0 transparent;
	margin: 0;
}

.hero .hero_inner h4 span  {
    color: #eed289;

}



/**************************answer style****************/
.answer {
    padding: 0px 0px 50px;
}


.header_title {
	text-align: center;
	padding: 15px 0;
}

.header_title h1 {
    font-size: 50px;
    font-weight: 600;
    color: rgb(44, 44, 44);
    line-height: 65px;
    text-transform: capitalize;

}
.header_title h1 span {
    color: #eed289;
}

.answer_content_container {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper {
    max-width: 1170px;
    padding: 0px 15px;
}

.wrapper h1 {
    font-size: 29px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 35.7px;
    color: rgb(44, 44, 44);
    /* margin-bottom: 18px; */
}

.wrapper h1 span {
    color: #A97140;
}

.wrapper p {
    font-size: 18px;
    color: rgb(44, 44, 44);
    font-weight: 400;
    line-height: 28.8px;
    text-transform: none;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
}

.bottom_title h1 {
    font-size: 29px;
    font-weight: 700;
    color: #a97140;
    line-height: 65px;
    text-transform: capitalize;
    padding-top: 40px;
    margin-bottom: 10px;
}



/**************************newsLetter style ********************/
.newsletter {
    background-image: url("../assets/newsletter.bmp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
    width: 100%;
    height: 394px;
    display: flex;
    align-items: center;
}

.text_content {
    text-align: center;
}

.text_content h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
    line-height: 1.3em;
    text-transform: capitalize;
    letter-spacing: 0;
    margin: 0;
}
.text_content h1 span {
    color: #eed289;

}

.text_content button {
    max-width: 545px;
    width: 100%;
    height: 58px;
    padding: 15px 20px;
    font-weight: 700;
    background-color: rgb(238, 210, 137);
    border-radius: 50px;
    border: 2px solid;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    border-color: #00000033;
    cursor: pointer;
    animation-name: example;
    animation-delay: 4s;
    animation-duration: 3s ;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {
        box-shadow: 0px 0px 0px white;
    }
    25% {
        box-shadow: 0px 0px 5px white;
    }
    50% {
        box-shadow: 0px 0px 0px white;
    }
    75% {
        box-shadow: 0px 0px 5px white;
    }
    100% {
        box-shadow: 0px 0px 0px white;
    }
  }


.form {
    display: flex;
    column-gap: 25px;
    padding: 40px 20px;
    margin-top: -25px;
}

.form input {
    max-width: 200px;
    width: 100%;
    height: 51px;
    padding: 15px 20px;
    outline: none;
    border-radius: 5px;
    border: transparent;
}
.form button {
    max-width: 104px;
    width: 100%;
    height: 51px;
    border-radius: 5px;
    border: transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    background: linear-gradient(0deg, rgba(238,210,137,1) 26%, rgba(169,113,64,1) 88%);
    transition: all .3s ease;
    margin-top: 15px;
}


.form button:hover {
    background: linear-gradient(0deg, rgb(183 133 3) 26%, rgb(235 175 123) 88%);
}


/********************footer style*****************/
.footer {
    background-color: #2C2C2C;
    padding: 50px 20px;
}

.footer_content {
	max-width: 1170px;
	margin-inline: auto;
	text-align: center;
	padding: 0 155px;
}

.footer_content p {
	font-size: 18px;
	font-weight: 400;
	text-shadow: 0 0 0 transparent;
	line-height: 1.6em;
	text-transform: none;
	letter-spacing: 0;
	text-align: center;
	color: #969696;
    margin-top: 5px;
}


.footer_logo {
    max-width: 150px;
	max-height: 110px;
	margin: 0 auto;
}

.footer_logo img {
    width: 100%;
    height: 100%;
}




